*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#box{
	background-color: orange;
	border:  1px solid black; /* sets border width, style and color*/
	padding: 50px; /*adds padding on all sides of div*/
	height:  150px;
	width: 150px;
}