* {
	font-family: 'Open Sans', sans-serif;
	/*Reset CSS*/
	/*deletes the default padding and margin of all element on our webpage*/
	margin: 0;
	padding: 0;
	/*box-sizing - defines the width and height of our element are calculated
	  border-box - will allow us to control the measurment of our elements better. Includes padding, border styling of our element to the total height and width in its computation*/
	box-sizing: border-box;
}

nav {
	border-bottom: 1px solid gray;
	padding: 0.8rem; /* pixels based on the 'root element' */
	margin-bottom: 2rem;
}

nav ul .nav-logo, nav ul .nav {
	list-style-type: none;
	display: inline;
	margin: 0.5rem; /*short hand for margin top, right, bottom, left*/
}
#intro{
	text-align: center;
	padding: 10%;
}
section > .header{
	text-align: center;
	margin-bottom: 50px;
}
section p{
	margin-bottom: 55px;
}
#intro button{
	padding: 1rem;
	border-radius: 25px;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
}
#succeed-info > div{
	display: flex;
	justify-content: space-around;
	padding-left: 10%;
	padding-right: 10%;
}
#succeed-info > div > .card{
	margin: 0 15px;
}
#succeed-info > div > .card > h3{
	text-align: center;	
}
#pre-footer {
	margin-top: 75px;
	display: flex;
	justify-content: flex-start;
	background-color: #002540;
	color: white;
}
#pre-footer div{
	margin-left: 30px;
	margin-bottom: 10px;
	padding-right: 100px;
}
#pre-footer h3{
	margin: 5px;
	margin-bottom: 10px;
}
#pre-footer > div > p{
	margin: 5px;
}
