*{
	margin: 0;
	padding: 0;
}
h1, p{
	background-color: #dde0e3;
	margin: 15px;
	padding: 10px;
	border: 1px solid red;
}
em, strong{
	background-color: indianred;
	display: inline-block; /* combined behavior of inline and block level elements; considers top and bottom (padding and margin) */
	padding: 100px;
	/*pag inline element hindi marerecognize top and bottom (for padding and margin)*/
	border: 1px solid black;
	margin: 50px;
}
.flex-container{
	border: 1px solid black;
	padding: 20px;
	background-color: darkgray;
	display: flex;
	/*justify-content: center;*/
	/*justify-content: space-between;*/
	/*justify-content: flex-end;*/
	justify-content: space-around;
}
.flex-item{
	height: auto;
	width: 250px;
	background-color: coral;
	border: 1px solid maroon;
	display: inline-block;
}

.flex-item > h2{
	text-align: center;
}

.flex-item > img{
	width: inherit; /*inherits the width of its parent element*/
	/*width: 250px;*/
}